# MongoDB Connection
MONGODB_URI=mongodb://localhost:27017/youth-congress

# Frontend URL
FRONTEND_URL=http://localhost:3000

# Azure Communication Services
AZURE_COMMUNICATION_CONNECTION_STRING=endpoint=https://emails-ziyfc.unitedstates.communication.azure.com/;accesskey=YOUR_ACCESS_KEY
EMAIL_SENDER=DoNotReply@your-domain.azurecomm.net

# Server Configuration
PORT=8080 